.stats {
    @extend %lineup;

}

    .stats__stat {
        @extend %lineup__item;
        padding-left: $gap;
        margin-left: $gap;
        border-left: 1px solid #ccc;
        color: #2790ae;

        &:first-child {
            border: 0;
            margin: 0;
            padding: 0;
        }
    }

    .stats__title {
        @include font-size($milli-size);
        margin: 0; // removes default dt styling
        font-weight: normal;
        text-transform: lowercase;
    }

    .stats__value {
        margin: 0; // removes default dd styling
        font-weight: bold;
    }

